<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeqdHmNve7t75qO4mF6C-rq0S4C9hI1Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>971977021027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dentalClinicApp</string>
	<key>PROJECT_ID</key>
	<string>tech-runbit-denta</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-runbit-denta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971977021027:ios:0f54d386342860fde30a56</string>
</dict>
</plist>